*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
    color: white;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;

}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    display: none;
}

#main-container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
    width: 100vw;

}

#main-container section{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

/* NAVIGATION */
nav{
    font-size: 0.8em;
    align-self:flex-start;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: 2em;
}

nav ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 60vw;
}
nav ul li{
    color: white;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
nav ul li:hover{
    color: rgb(236, 125, 51) !important;
}
nav #socials{
    display: flex;
    justify-content: center;
}
nav #socials svg{
    width: 1em;
    height: 1em;
    margin-left: 3em;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

nav #socials svg:hover{
    fill: rgb(236, 125, 51);
}

/* NAVIGATION DOTS */
#navigation-dots{
    position: fixed;
    top: 48vh;
    left: 5vw;
}
#navigation-dots #dots-container{
    display: flex;
    flex-direction: column;

}
#navigation-dots svg{
    width: 0.5em;
    height: 0.5em;
    margin-top: 10px;
}
.hide{
    display: none;
}

/* HERO SECTION */
#hero-section{
    background: transparent radial-gradient(circle at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%), rgb(31, 31, 31), rgb(0, 0, 0)) no-repeat 0 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#hero-content{
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    width: 75%;
}
#hero-content h1{
    font-size: 1.5em;
}
#hero-content p{
    width: 50vw;
    font-size: 0.9em;
    margin-top: 2em
}
#hero-section #typeText{
    font-family: 'Pacifico', cursive;
    font-size: 1.8em;
}

#typeText::after {
    content: "|";
    animation:  blink 1s step-end infinite;
  }
  
@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

.neonText {
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 7px rgba(255, 255, 255, 0.459),
        0 0 10px rgba(255, 255, 255, 0.658),
        0 0 21px rgba(255, 255, 255, 0.726),
        0 0 42px rgb(170, 153, 122),
        0 0 82px rgb(255, 238, 0),
        0 0 92px rgb(104, 78, 31),
        0 0 102px rgb(105, 66, 43),
        0 0 400px rgb(83, 44, 8);
}
#hero-content button{
    margin-top: 2em;
}
#hero-content a{
    text-decoration: none;
}

/* ABOUT ME SECTION */

#about-section{
    background-color: #ebebeb;
    color: #000;
    display: grid;
    grid-template-columns: 15% 83% 2%;
    justify-items: center;
    align-items: center;
}
#about-content{
    background: url(./assets/images/bg.mp4) no-repeat;
    position: relative;
    max-height:100vh ;
    height: 90vh;
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-text{
    z-index: 50 !important;
    position: relative;
    margin-top: 0em;
    margin-left: 1em;
    grid-column: 1/3;
    grid-row: 2/3;
}
#about-content h1{
    font-weight: 100;
    color: #fa6400 ;
    z-index: 50 !important;
    position: relative;
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-bottom: 0;
    justify-self: center;
    align-self: center;
}
#about-section img{
    position: relative;
    shape-outside: circle();
    float: right;
    border-radius: 50%;
    transition: ease-in-out 0.5s;
    width: 100px;
    height: 100px;
    border: #fa6400 solid 2px;
    grid-column: 2/3;
    margin: 0;
    justify-self: center;
    align-self: center;
    margin-right: 0.5em;
}

#lists{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;

}
.list{
    border-right: #000 solid 1px;
    margin-left: 1em;
}
#about-section ul{
    list-style-type: circle;
    margin-top: 0.5em;
}
#about-section li{
    margin-left: 1em;   
    font-size: 0.8em;
}
#about-content h5{
    font-size: 0.8em;
}
#about-section button{
    margin-top: 2em;
}
button{
    margin-top: 1em;
    font-size: 12px;
    min-height: 1rem;
}
#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-top: 0em;
    margin-bottom: 0em;
}
video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    filter: grayscale(70%);
}

#about-content p{
    font-size: 0.8em;
}
/* PROJECT SECTION */

#project-section{
    background-color: rgb(15, 15, 17);
    display: grid;
    grid-template-rows: 15% 75%;
    font-size: 0.8em;
    height: 100vh;
}
#project-section .projectIntro {
    align-self: end;
    justify-self: center;
}
#project-section .projectIntro h1{
    font-weight: 100;
    font-size: 2em;
    margin: 0;
}

#project-carousel{
    justify-self: end;
    height: 70vh;
    margin-top: 1.5em;
}

#project-section #carousel{
    position: relative;
    width: 92vw;
    height: 70vh;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}
#carousel .card{
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
    background-color:  rgb(189, 196, 206);
    border-radius: 5%;

}
#carousel .cardContent{
    padding: 1em;
    width:200px;
    color: #000;
    transition: width 0.5s; 
}
#carousel .cardContent h2{
    margin-bottom: 0.8em;
}
#carousel .cardContent p{
    margin-bottom: 0.8em;
}
#carousel .cardContent h4{
    margin-bottom: 1.2em;
}
.cardButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-left: -1em;

}
#carousel a{
    text-decoration: none;
}


button{
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 1rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
button:hover,
button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

#carousel img{
    border-radius: 10%;
    width: 2px;
    transition: width 0.5s; 
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.hideLeft{
    left: 0%;
    opacity: 0 !important;
    transform: translateY(50%) translateX(-50%);
}

.hideRight{
    left: 100%;
    opacity: 0 !important;
    transform: translateY(50%) translateX(-50%);
}

.prev{
    z-index: 5 ;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
    opacity: .9 !important;
}

.prevLeftSecond{
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7 !important;
}

.selected{
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
    display: inline;
}
.selected img, .selected div{
    width: 250px !important;
}

.next{
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
    opacity: .9 !important;
}
.prevLeftSecond, .nextRightSecond{
    display: none;
}
.next, .prev{
    opacity: 0.1 !important;
}
.nextRightSecond{
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: .7 !important;
}
.nextRightSecond img{
    width: 300px
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0vw;
    bottom: -2vh;
}

#carousel button{
    padding: 1em;
}

/* CONTACT ME SECTION */
#contact-section{
    background-color: #ebebeb;
    display: grid;
    color: #000;
    align-items: center;
    justify-items: center;
    grid-template-columns: 6% 88% 6%;
    width: 100%;
}
#contact-section h1{
    color:rgb(236, 125, 51);
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: 2em;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
input{
    height: 4vh;
}
textarea{
    height: 15vh;
}
#submit{
    height: 4vh;
    background-color: #c85000;
    border: none;
    color: white;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 70vw;
}
#conatct-socials{
    border-top: #c85000 1px solid;
    margin-top: 5em;
    padding-top: 2em;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    flex-direction: column;
    gap: 1em;
}

#conatct-socials svg, #conatct-socials p{
    display: inline;
}

#conatct-socials a{
    text-decoration: none;
    color: #000;
}


/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
    /*NAV SECTION*/
    nav{
        font-size: 1em;
    }
    #navigation-dots svg{
        width: 1.5em;
        height: 1.5em;
    }
    #navigation-dots svg{
        width: 0.8em;
        height: 0.8em;
    }

    /*HERO SECTION*/

    #hero-content{
        font-size: 1.5em;
        display: static;
        align-items: start;
        width: auto;
    }

    #hero-section #typeText{
        font-size: 1.5em;
    }
    #hero-section p{
        font-size: 0.7em;
    }
    button{
        font-size: 10px;
        width: 13em;
    }

    /*ABOUT ME SECTION*/
    #about-section{
        grid-template-columns: 15% 83% 2%;
    }
    #about-section img{
        width: 150px;
        height: 150px;
        border: #fa6400 solid 2px;
        margin: 1em;
    }
    #about-content{    
        display: inline;
        max-height: 55em;
        padding-bottom: 4em;
        margin-top: 3em;
    }
    #about-content li{
        font-size: 0.8em;
    }
    #about-content h5{
        font-size: 0.8em;
    }
    .list{
        margin-left: 1.5em;
    }
    #about-content h1{
        font-size: 3em;
        margin-left: 0.5em;
        margin-bottom: 1em;
        margin: 1em;
    }
    #about-text{
        margin-top: 0em;
        margin-left: 1em;
    }
    #about-section button{
        margin-top: 0.5em;
    }

    /*PROJECT SECTION*/
    #project-section{
        grid-template-rows: 15% 75%;
        font-size: 0.8em;
    }
    #carousel .cardContent{
        width: 550px !important;
        display: flex;
        flex-direction: column;        
        align-items: center;
        justify-content: center;
    }
    #carousel .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #carousel .cardButton{
        margin: 0;
    }
    #project-section #carousel{
        width: 94vw;
        height: 40em;
    }
    #carousel img{
        width: 200px;
    }
    .selected img, .selected div{
        width: 300px !important;
    }
    .buttons{
        bottom: 0em;
    }
    #project-section h1{
        font-size: 3em !important;
    }
    .prevLeftSecond, .nextRightSecond{
        opacity: 0.0 !important;
    }
    /*CONTACT ME SECTION*/

    #contact-section h1{
        font-size: 3em;
    }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #project-section #carousel{
        height: 100%;
    }
    .buttons{
        bottom: 0em;
    }
    .selected img, .selected div{
        width: 300px !important;
    }  
    #carousel img{
        width: 250px;
    }
    #about-section p{
        font-size: 0.8em !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*ABOUT ME SECTION*/
    #about-section{
        grid-template-columns: 30% 50% 20%;
        max-height: 100vh;
    }
    #about-section h1{
        margin: 0.5em;
    }
    #about-section p{
        font-size: 0.8em;
    }
    nav #socials svg{
        width: 1.5em;
        height: 1.5em;
    }
    #conatct-socials{
        margin-top: 5em;
        flex-direction: row;
    }
    #project-section{
        font-size: 0.8em;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .prevLeftSecond, .nextRightSecond{
        display: inline;
        opacity: 0.0 !important;
    }
    .next, .prev{
        opacity: 0.9 !important;
    }
    #about-section p{
        font-size: 1em;
    }
    #hero-content h1{
        font-size: 3em;
    }
    #hero-section #typeText{
        font-size: 3.5em;
    }
    #project-section .projectIntro h1{
        margin-left: 2.5em;
    }
    .selected img, .selected div{
        width: 350px !important;
    }  
    .next img, .prev img, .next div, .prev div{
        width: 300px !important;
    }  
    #carousel img{
        width: 300px;
    }
    #about-section img{
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-height: 880px) {
  
    .selected img, .selected div{
        width: 550px !important;
    }  
    .next img, .prev img, .next div, .prev div{
        width: 550px !important;
    }  
    #carousel img{
        width: 400px;
    }
}

@media only screen and (min-width: 1400px){

}